{{ include ('header.html.twig') }}
{{ include ('nav.html.twig') }}
{% block content %}
<section class="block section-padding">
    <div class="container">
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <h4>{{ sid_text }}{{ sid }}</h4>
        <h4>Original text entries:</h4>
        <p>Entered user name: {{ username }}</p>
        <p>Entered password: {{ password }}</p>
        <p>Entered email: {{ email }}</p>

        <h4>Cleaned text entries:</h4>
        <p>Entered user name: {{ sanitised_username }}</p>
        <p>Entered password: {{ cleaned_password }}</p>
        <p>Entered email: {{ sanitised_email }}</p>

        <h4>Hashed values:</h4>
        <h5>NB Values were hashed with the BCrypt library</h5>
        <p>Hashed password: {{ hashed_password }}</p>

        <h4>Base64 Encoded strings from the encrypted entries:</h4>
        <p>Encoded user name: {{ encoded_username }}</p>
        <p>Encoded email: {{ encoded_email }}</p>

        <p class="curr_page"><a href="{{ landing_page }}">Return To Homepage</a></p>
    </div>
    </div>
</section>
{% endblock %}
{{ include ('footer.html.twig') }}