{{ include ('header.html.twig') }}
{{ include ('nav.html.twig') }}
<div class="section-wrapper block section-padding text-center container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ (messages) }}
            <br />
            <hr />
        <h2><a href="{{ landing_page }}">Return Home</a></h2>
    </div>
    </div>
</div>
<!-- end of instructions -->
{{ include ('footer.html.twig') }}